# this .gitignore uses the "ignore everything first" style

# first ignore everything
*

# then unignore what you want to track
!.gitignore

!images/

!*.html
!*.css
!*.jpg
!*.png
!*.gif
!*.ico
!*.md
!*.js
